@import '~antd/dist/antd.css';

.register {
  margin: 0 auto;
  width: 80%;
  display: block;
  backdrop-filter: blur(25px);
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: transparent
}


.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper,
.ant-input-number-handler-wrap,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
}

.ant-input-number-handler-up-inner,
.ant-input-number-handler-down-inner,
.ant-input-password-icon,
.anticon,
.ant-form-item-label>label,
.ant-result-title,
.ant-result-subtitle {
  color: wheat;
}

.ant-input,
.ant-input-number {
  background-color: transparent;
  color: wheat
}

.ant-input-number-handler {
  color: transparent
}

.ant-select,
.ant-form-item {
  color: wheat;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1.ant-typography,
.ant-typography h1 {
  color: wheat;
  margin-bottom: 1em;
}

button {
  margin-right: 1em;
  margin-left: 1em;
  width: 9em;
}

.optionStyle {
  color: #1890ff;
}

.confirmFooter {
  margin-top: 2em;
  /* padding-top: 2em; */
}

code {
  color: white;
}

.ant-list {
  color: wheat;
  font-size: 18px;
}

.result {
  background-color: transparent;
}

.step3regForm {
  margin: 10px auto;
  width: 80%;
  display: block;
  background-color: transparent;
  padding-bottom: 30px
}
